{% extends 'Monitor/base.html' %}

{% block body %}

    <div id="page-inner">
        <form role="form" action="{% url 'Monitor:approva_notizia' notizia.id %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">Inserimento nuova notizia</h1>
                    <h1 class="page-subhead-line">Informazioni sulla notizia</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Informazioni testuali
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Titolo</label>
                                <input class="form-control" type="text" name="titolo" value="{{ notizia.titolo }}" disabled>
                            </div>
                            <div class="form-group">
                                <label>Descrizione</label>
                                <textarea class="form-control" rows="5" name="descrizione" disabled>{{ notizia.descrizione }}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Data scadenza <span class="label label-warning" ><strong>ATTENZIONE:</strong> Dopo questa data la notizia non sarà più visualizzata</span></label>
                                <input class="form-control" type="date" name="data_scadenza" value="{{ notizia.data_scadenza|date:"Y-g-d" }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Caricamento immagine
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-lg-4">Imagine Caricata</label>
                                <div class="">
                                    {% if notizia.immagine %}
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"><img src="{{ notizia.immagine.url }}"></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-lg btn-success" >Approva</button>
            </div>
        </form>
    </div>

{% endblock %}