{% extends 'Monitor/base.html' %}

{% block body %}

    <div id="page-inner">
        <form role="form" action="{% url 'Monitor:approva_notizia' notizia.id %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">Approvazione notizia:</h1>
                    <h1 class="page-subhead-line">Informazioni sulla notizia da approvare:</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Informazioni testuali
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Titolo</label>
                                <input class="form-control" type="text" name="titolo" value="{{ notizia.titolo }}" disabled>
                            </div>
                            <div class="form-group">
                                <label>Descrizione</label>
                                <textarea class="form-control" rows="5" name="descrizione" disabled>{{ notizia.descrizione }}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Data scadenza <span class="label label-warning" ><strong>ATTENZIONE:</strong> Dopo questa data la notizia non sarà più visualizzata</span></label>
                                <input class="form-control" type="date" name="data_scadenza" value="{{ notizia.data_scadenza|date:"Y-g-d" }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Caricamento immagine
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-lg-4">Imagine Caricata</label>
                                <div class="">
                                    {% if notizia.immagine %}
                                    <div id="port-folio">
                                                <div class="portfolio-item awesome mix_all"
                                                     data-cat="awesome"
                                                     style="display: inline-block;
                                                     opacity: 1;">
                                                    <img src="{{ notizia.immagine.url }}" class="img-responsive " alt="">
                                                    <div class="overlay">
                                                        <p>
                                                            <span>
                                                            Immagine Attuale
                                                            </span>
                                                        </p>
                                                        <a class="preview btn btn-info "
                                                           title="{{ notizia.titolo }}"
                                                           href="{{ notizia.immagine.url }}">
                                                            <i class="fa fa-plus fa-2x"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                {% if notizia.approvata == False %}
                    <button type="submit" class="btn btn-lg btn-success" >Approva</button>
                {% else %}
                    <button type="submit" class="btn btn-lg btn-danger" >Revoca Approvazione</button>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}