<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unione del Sorbara --- Gestione Pensiline informative</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'Monitor/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'Monitor/css/font-awesome.css' %}" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'Monitor/css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'Monitor/css/custom.css' %}" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES -->
    <link href="{% static 'Monitor/css/prettyPhoto.css' %}" rel="stylesheet">
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>


<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'Monitor:index' %}">Unione del Sorbara</a>
            </div>

            <div class="header-right">
				<a href="{% url 'Monitor:logout' %}" class="btn btn-danger" title="Logout">
                    <i class="fa fa-exclamation-circle fa-2x"></i>
                </a>
            </div>

        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="{{ request.user.foto_profilo.url }}" class="img-thumbnail" />

                            <div class="inner-text">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            <br />
                                <small>Username: {{ request.user.username }} </small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a  href="{% url 'Monitor:index' %}"><i class="fa fa-dashboard "></i>Stato notizie</a>
                    </li>
                    <li>
                         <a href="#"><i class="fa fa-desktop "></i>Nuova notizia<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'Monitor:inserimento_step1' %}"><i class="fa fa-toggle-on"></i>Per monitor</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-bell "></i>Per flusso tematico</a>
                            </li>


                        </ul>
                    </li>
                </ul>
            </div>

        </nav>

        <div id="page-wrapper">
            {% block body %}
            {% endblock %}
        </div>


    </div>
    <div id="footer-sec">
        &copy; 2014 YourCompany | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
    </div>
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'Monitor/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'Monitor/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'Monitor/js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'Monitor/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'Monitor/js/galleryCustom.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'Monitor/js/custom.js' %}"></script>
</body>
</html>
