{% extends 'Monitor/base.html' %}
{% load Monitor_extras %}

{% block body %}

             <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Scrivania</h1>
                        <h1 class="page-subhead-line">Controlla lo stato delle notizie </h1>

                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    {% if errore %}
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert">
                                {{ errore }}
                            </div>
                        </div>
                    {% elif ok %}
                        <div class="col-lg-12">
                            <div class="alert alert-success" role="alert">
                                {{ ok }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        {% if monitor_in_errore == 0 %}
                            <div class="main-box mb-dull">
                        {% else %}
                            <div class="main-box mb-red">
                        {% endif %}
                                <a href="{% url 'Monitor:stato_monitor' %}">
                                    <i class="fa fa-bolt fa-5x"></i>
                                    <h5>
                                        {{ monitor_in_errore }} Problemi con i Monitor
                                    </h5>
                                </a>
                            </div>
                    </div>
                    <div class="col-md-6">
                        {% if notizie_non_approvate == 0 %}
                            <div class="main-box mb-dull">
                        {% else %}
                            <div class="main-box mb-red">
                        {% endif %}
                                {% if request.user|has_group:"Revisore" %}
                                    <a href="{% url 'Monitor:notizie_da_approvare' %}">
                                {% endif %}
                                    <i class="fa fa-warning fa-5x"></i>
                                    <h5>
                                        {{ notizie_non_approvate }} Notizie da approvare
                                    </h5>
                                {% if request.user|has_group:"Revisore" %}
                                    </a>
                                {% endif %}
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-subhead-line">Le mie notizie:</h1>
                    </div>
                </div>
                {% if notizie|length == 0 %}
            <div class="panel">
                <div class="alert alert-warning" role="alert">
                    Non risulta nessuna tua notizia attiva. Se non vedi alcune notizie è possibile che esse siano già scadute.
                </div>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#id</th>
                            <th>Titolo</th>
                            <th>Data di inserimento</th>
                            <th>Data di scadenza</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notizia in notizie %}
                            <tr onclick = "location.href='{% url 'Monitor:modifica_notizia' notizia.id %}'">
                                <td># {{ notizia.id }}</td>
                                <td>{{ notizia.titolo }}</td>
                                <td>{{ notizia.data_inserimento }}</td>
                                <td>{{ notizia.data_scadenza }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
                <!-- /. ROW  -->
             </div>
         </div>
   </div>

{% endblock %}