{% extends 'Monitor/base.html' %}

{% block body %}

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Inserimento nuova notizia</h1>
                <h1 class="page-subhead-line">Dove deve comparire la notizia? </h1>
            </div>
        </div>
            <div class="form-group">
                <label>Voglio che la Notizia compaia su:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">TUTTI i monitor disponibili
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Voglio scegliere su quale monitor
                    </label>
                </div>
                <button type="button" class="btn btn-lg btn-success">Avanti</button>
            </div>
    </div>

{% endblock %}