{% extends 'Monitor/base.html' %}

{% block body %}

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Inserimento nuova notizia</h1>
                <h1 class="page-subhead-line">Voglio che la Notizia compaia su tutti i monitor delle frazioni di
                <strong>
                    {% for frazione in frazioni_selezionate %}
                        {{ frazione.nome }}
                    {% endfor %}
                </strong>
                </h1>
            </div>
        </div>
            <div class="form-group">
                <label>Voglio che la Notizia compaia su tutti i monitor delle frazioni selezionate? </label>
                <form role="form" action="{% url 'Monitor:inserimento_step6' %}" id="frazioni_all_form" method="post">
                        {% csrf_token %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="frazioni_all" id="optionsRadios1" value="True" checked="">Sì
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="frazioni_all" id="optionsRadios2" value="False">No, Voglio scegliere i singoli monitor
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Avanti</button>
                </form>
            </div>
    </div>

{% endblock %}